.headerContainer{
    background-color: var(--background);
}
.no-blur {
    filter: none !important;
    pointer-events: auto; 
  }
  .headerContainer.blur{
    filter: blur(5px);
    pointer-events: none;
}
.header3sections{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.leftHead{
    text-align: center;
    padding:2rem;
    position:relative;
    margin-top:2rem;

}
.leftHead .background{
    width:320px;
    height:80px;
    position:absolute;
    top:-25rem;
    left:2rem;
    margin-top:-4rem;

}
.leftHead .personal{
    width:60px;
    height:60px;
    position:absolute;
    top:-25rem;
    left:9.4rem;
    margin-top:-1rem;
}
.texts{
    margin-top:-28rem;
    margin-left:1rem;
}
.texts h3{
    color:var(--dark-blue);
}
.texts h4{
    color:var(--blue);
}
.texts p{
    color:var(--dark-gray);
}
.leftHead .rates{
    display:flex;
    align-items: center;
    gap:3rem;
    margin-left:2rem;
    color:var(--dark-blue);

}
.leftHead .rates span{
    font-weight: 700;
    margin-left:0;

}
.personal{
    position:relative;
    right:10em;
    top:2.5rem;
    border:6px solid var(--white);
    margin-top:3rem;
}
.leftHead h3{
    margin-top:5.5rem;
}
.left-space{
    height:1750px;
}
/****************center**********************/
.centerrHead{
  text-align: center;
  margin-right:22rem;
}
.storyHead{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin:.5rem 0 2rem 0;
}
.storyHead p{
    color:var(--dark-blue);
    font-weight: 600;
}
.centerrHead i{
    background-color:var(--gray);
    color:var(--white);
    padding:1rem;
    border-radius: 50%;
}
.story1{
    background-color:var(--white);
    width:120px;
    height:160px;
    padding:2rem 0 0rem 0rem;
    margin-top:-4rem;
    margin-left:3rem;
    margin-right:-3.5rem;
}
.storyContainer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:1rem;
    width:500px;
    overflow-x: auto;
    margin-left:2rem;
}
.postSection{
    margin-bottom:2rem;
    margin-left:5rem;
    background-color:var(--white);
    padding:1rem 0rem;
    border-radius:10px;
    width:650px;
}
.stories img{
    width:136px;
    height:200px;
    border-radius:10px;
}
.postSection img{
    width:40px;
    height:40px;
    border-radius:50%;
    align-items: center;
    margin-right:2.5rem;

}
.postSection input{
    width:500px;
    height:100px;
    border:none;
    margin-bottom:2rem;
}
.postSection input::-moz-focus-inner{
    border:none;
}
.media{
    display:flex;
    align-items: center;
    gap:4.6rem;
    width:400px;
    margin-top:-1rem;
    margin-left:.5rem;
}

.mediaIcons{
    display:flex;
    align-items: center;
    background-color:rgb(249, 249, 249);
    border-radius:.4rem;
    font-weight: 600;
    margin-left:1rem;
    cursor: pointer;

}
.mediaIcons i{
    color:var(--light-blue);
    font-size:12px;
}
.mediaIcons p{
    font-size:12px;
    color:var(--dark-blue);
}
.photoSection.active{
    display:none;
}
.photoSection{
    display:block;
}
.photoSection,.videoSection,.eventSection,.feelingSection{
    position:absolute;
    top:22rem;
    left:40rem;
    background-color:#fff;
    padding:1rem;
}
.PostSharing i{
    color:#000;
    background:transparent;
}
.PostSharing .head{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.btns{
    display:flex;
    gap:1rem;
}
.photo .head p{
    font-weight: 700;

}
.video{
    display:none;
    cursor:pointer;
}
.video.active{
    display:block;
}
.event{
    display:none;
    cursor:pointer;
}
.event.active{
    display:block;
}
.feeling{
    display:none;
    cursor:pointer;
}
.feeling.active{
    display:block;
}



/************photo section */
.photoSection .thoughts .textPost{
     display:flex;
     align-items: center;
     gap:10px;
}
.photoSection .thoughts .textPost textarea{
    border:none;
    padding:.5rem;
    width:350px;
}
.photoSection .thoughts .textPost textarea:focus{
    outline:none;
}
.image-upload h3{
    margin-left:-200px;
}
.photoSection{
    width:400px;
    height:auto;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-align: center;
    align-items: center;
}
.photoSection .head h3{
    color:var(--dark-blue);
    font-weight: 700;

}
.photoSection i{
    cursor:pointer;
    color:var(--dark-gray);
}
.image-upload input{
    margin-left:-30px;
    width:350px;
    height:auto;
    background:transparent;
}

/************personal post*/
.personalPost1,
.personalPost2{
    margin-left:80px;
    background-color:var(--white);
    padding:1rem;
    width:620px;
}
 .details img{
    width:630px;
    height:350px;
}
 .head{
    display:flex;
    align-items: center;
    gap:.4rem;
}
.head h3{
    color:var(--dark-blue);
}
.head span{
    font-size:14px;
    margin-left:-58px;
    color:var(--dark-gray); 
}
 .head img{
    width:50px;
    height:50px;
    border-radius:50%;
}
.details{
    text-align: left;
    margin-left:0;
}
.details p{
    text-align: left;
    max-width:730px;
    color:var(--dark-gray);
}
 .head h3{
    margin-bottom:0;
    margin-top:-4px;
    color:var(--dark-blue);
}

.comments img{
    width:50px;
    height:50px;
    border-radius:50%;
}
/*** interactions section */
.interactions{
    display:flex;
    align-items: center;
}
.interactions i{
    background:none;
    color:var(--gray);
}
.interactionContainer span:first-child,.interactionContainer i:first-child{
    color:var(--dark-blue);
    font-weight: bold;
}
.interactionContainer .share{
    margin-left:8rem;
}
.interactionContainer i ,.interactionContainer span{
    color:var(--dark-gray);
}
/********comments*/
         /*head-comments*/
.head-comments{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:rem;
}
.head-comments img{
    width:40px;
    height:40px;
    margin-right:10px;
}
.head-comment img{
    margin-right:10px;
}
.head-comment h3{
    color:var(--dark-blue);
    width:150px;
}
.head-comment span{
    width:130px;
    font-size:12px;
}
.head-comments input{
    width:530px;
    border-radius:5px;
    background-color:var(--gray);
    border:none;
    padding:.6rem;
}
.head-comments i{
    color:var(--dark-gray);
    background-color: transparent;
}
       /*contentOfComments*/
.content-comments{
    margin-left:1.3rem;
}
.head-comment{
    display:flex;
    align-items: center;
}
.head-comment img{
    width:35px;
    height:35px;
}
.content-comments{
    margin-top:1rem;
}
.content-head-comment{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:15rem;
    max-width:500px;
}
.content-head-comment span{
    color:var(--dark-gray);
}
.center-section{
    max-width:500px;
    margin-left:3rem;
    text-align:left;
    margin-top:-1rem;
}
.content-comments .gray{
    background-color:var(--gray);
    padding:5px;
    border-radius:10px;

}
.interaction-comment{
    text-align: left;
    margin-left:3rem;
    color:var(--dark-gray);
}

/***********personalPost2*/
.personalPost2{
    margin:1rem 0 0 6.5rem;
    background-color:var(--white);
}
.personalPost2 .head{
    display:flex;
    align-items: center;
    gap:10px;
}
.personalPost2 .head img{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.personalPost2 .head span{
    color:var(--dark-gray);

}
.personalPost2 .details img{
    width:720px;
    height:450px;
}
.spaceCenterHeader{
    margin-bottom:40rem;
}
/***************right************/
   .rightHead{
    overflow-y: none;
   }
       /******follow section*/

.followSection{
    max-width:300px;
    margin:-2rem 0 3rem -18rem;
    background-color: var(--white);
    padding:1rem;
}
.followSection h2{
    color:var(--dark-blue);
}
.follow{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.follow h3{
    color:var(--dark-blue);
}
.follow p{
    color:var(--dark-gray);
}
.follow img{
    width:50px;
    height:50px;
    border-radius:50%;

}
.follow-details{
    margin-left:-3rem ;
}
.follow-details p{
    margin-top:-1rem;
}
.follow .fa-user-group{
    background-color:var(--dark-blue);
    color:var(--white);
    padding:.7rem;
    border-radius: 50%;
}
.follow .fa-plus{
    background-color:var(--dark-blue);
    color:var(--light-blue);
    padding:1rem;
    border-radius: 50%;

}


          /******news section */

.news-section{
    margin:0 15px 0 -18rem;
    background-color: var(--white);
    padding:1rem;
    max-width:300px;
}
.news-section h2{
    color:var(--dark-blue);

}
.news a{
    color:var(--dark-blue);
    font-weight: 600;
}
.news span{
    margin-left:-2px;
    color:var(--dark-gray);
}
.right-space{
    height:1650px;
}
