.navbarContainer{
    display:flex;
    align-items: center;
    padding:0 40px;
    gap:10rem;
}
.list {
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.notivicationIcon i{
    margin-right:1rem;
    margin-left:-3.5rem;
}
.userIcon img{
    margin-left:-1rem;
    margin-right:1rem;
    width:30px;
    height:30px;
    border-radius: 2px;

}
.rightNav h2 a{
    cursor:pointer;
    color:var(--dark-blue);
}
.list{
margin-left:10rem;
}
.list li{
    margin-left:1rem;
}
.list li a{
    color:var(--blue);
    font-weight: 600;
}
.list li a:hover{
    color:var(--dark-blue);
    font-weight: 800;

}
.leftNav {
    margin-left:10rem;
}
.icons{
    display:flex;
    align-items: center;
}
.icons div i{
    color:var(--dark-blue);
    background-color:var(--light-blue);
    border-radius:50%;
    padding:.5rem;
    margin-left:1.5rem;
}
.userIcon img{
    margin-left: 1.5rem;
}
/*********noti dropdown*/
.notovication{
  display:none;
  position:absolute;
  top:3rem;
  right:5rem;
  max-width:400px;
  background:#fff;
  padding-right:3rem;
  margin-top:1.5rem;
  
}

.notovication.active{
    display:block;
}
.headNot{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.sub-headNot{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:1.1rem;
}
.sub-headNot p{
    color:var(--red);
}
.notification{
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-width:400px;
    position:relative;
    right:-3rem;
    
}
.notification p,span{
    color:rgb(211, 211, 211);
    text-align:left;
    margin-left:1rem;
}
.notification img{
    width:50px;
    height:50px;
    border-radius:50%;
}
.notification:hover{
    background-color:gray;
    cursor:pointer;
}
.bottomNot{
    position:relative;
    right:-4.5rem;
}

/*********user section dropdown*/
.head-user{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:1rem;
}

.userSection{
    position:absolute;
    top:5rem;
    right:3.5rem;
    background-color:#fff;
    padding:1rem;
    padding-right:2.7rem;
    
}
.userSection button{
    margin-left:3rem;
    width:200px;
}
.head-user{
    margin-right:2rem;
}
.head-user img{
    margin-right:2rem;
    margin-left:3.5rem;
}