.navbarContainer{
    display:flex;
    align-items: center;
    padding:0 40px;
    gap:10rem;
}
.list {
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.notivicationIcon i{
    margin-right:1rem;
    margin-left:-3.5rem;
}
.userIcon img{
    margin-left:-1rem;
    margin-right:1rem;
    width:30px;
    height:30px;
    border-radius: 2px;

}
.rightNav h2 a{
    cursor:pointer;
    color:var(--dark-blue);
}
.list{
margin-left:10rem;
}
.list li{
    margin-left:1rem;
}
.list li a{
    color:var(--blue);
    font-weight: 600;
}
.list li a:hover{
    color:var(--dark-blue);
    font-weight: 800;

}
.leftNav {
    margin-left:10rem;
}
.icons{
    display:flex;
    align-items: center;
}
.icons div i{
    color:var(--dark-blue);
    background-color:var(--light-blue);
    border-radius:50%;
    padding:.5rem;
    margin-left:1.5rem;
}
.userIcon img{
    margin-left: 1.5rem;
}
/********* account dropdown */

.list .account{
    position:relative;
}
.account a{
    display:inline-flex;
    gap:0.5rem;
    align-items: center;
}
.accountList{
    display:none;
    cursor:pointer;
    font-weight: 500;
    position:absolute;
    top:1.4rem;
    left:-4rem;
    height:auto;
    width:150px;
    padding:1rem;
    background-color: var(--white);
    box-shadow:.8px .8px .8px .8px rgba(234, 233, 233, 0.8);
    border-radius:5px;
    text-align: start;
}
.account:hover .accountList,
.accountList:hover{
    display:block;
}
.accountList li:hover{
    color:var(--dark-gray);
}
/*********noti dropdown*/
.notovication{
  display:none;
  position:absolute;
  top:3rem;
  right:5rem;
  max-width:400px;
  background:#ffffff;
  padding:1rem;
  margin-top:1.5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

}

.notovication.active{
    display:block;
}
.headNot{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.sub-headNot{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:1.1rem;
}
.sub-headNot p{
    color:var(--red);
}
.notification-content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-width:400px;
    position:relative;
    right:1px;
    
}
.notification-content p,span{
    text-align:left;
    margin-left:1rem;
}
.notification-content img{
    width:50px;
    height:50px;
    border-radius:50%;
}
.notification-content:hover{
    background-color:var(--gray);
    padding:5px;
    cursor:pointer;
}
.bottomNot{
    position:relative;
    right:-4.5rem;
}

/*********user section dropdown*/

.head-user{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:1rem;
}

.userSection{
    position:absolute;
    top:5rem;
    right:3rem;
    background-color:#ffffff;
    width:300px;
    padding:1rem;
    box-shadow:1px 1px 1px 1px  rgba(0,0,0,0.1);
    border-radius: 10px;  
    
}
.userSection button{
    margin-left:3rem;
    width:200px;
}
.head-user{
    margin-right:3.4rem;
}
.head-user img{
    margin-right:2rem;
    margin-left:3.5rem;
}
.details{
    margin-left:-20px;
}
.details i{
    margin:0 10px 10px 0;
}
