.About {
    background-color: var(--white);
    padding:1rem;
    border-radius: 10px;
}

.About h3 {
    color: var(--blue);
    font-weight: 900;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.box1 {
    background-color: #f7f9fa;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    width:700px;
}

.box1 h3 {
    font-size: 1.4rem;
    color: var(--dark-blue);
    margin-bottom: 1rem;
}

.box1 p {
    color: var(--dark-gray);
    text-align: center;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 2rem;
}

.miniBoxes {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 800px;

}

.leftAbout, .rightAbout {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    padding:2.5rem;
    margin-left:3rem;
}

.leftBoxes, .rightBoxes {
    list-style: none;
    padding: 0;
}

.rightBoxes{
    padding:2.5rem;
}

.leftBoxes li, .rightBoxes li {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--dark-gray);
    font-weight: 500;
}

.formal-btn {
    background-color: var(--blue);
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 1rem auto 0;
}

.formal-btn:hover {
    background-color: var(--dark-blue);
}

