.messageContainer{
    display:none;
    padding:20px 40px;
    background-color:var(--background);
    height:85vh;
    width:Auto;

}
.message2sections{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left:10rem;

}
.messageContainer.active{
    display:block;
}
/******left message*/
.leftMessage{
    background-color:var(--white);
    padding:0 0 0 1rem;
}
.search{
    border:1px solid var(--gray);
    padding:.3rem;
    border-radius:.3rem;
    max-width:250px;
    gap:2rem;

}
.search input{
    border:none;
    padding:5px;
    width:220px;
    margin-right:5px;
}
.search i{
    margin-left:-1rem;
}
.headLeftMessage{
    display:flex;
    align-items: center;
    gap:.4rem;
}
.headLeftMessage span{
    color:var(--black);
    background-color:var(--light-blue);
    padding:5px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:3.9rem;
}
.user{
    display:flex;
    align-items: center;
    gap:1.2rem;
}
.desc p{
    margin-top:-1.5rem;
}
.state{
    position:absolute;
    left:15.5rem;
    border:3px solid var(--white);
}
.state.online{
    background-color:var(--blue);
    border-radius:50%;
    width:10px;
    height:10px;
}
.state.offline{
    background-color:var(--red);
    border-radius:50%;
    width:10px;
    height:10px;
}
.state2{
    position:absolute;
    left:-10.5rem;
    border:3px solid var(--white);
}
.state2.online{
    background-color:var(--blue);
    border-radius:50%;
    width:10px;
    height:10px;
}
.state2.offline{
    background-color:var(--red);
    border-radius:50%;
    width:10px;
    height:10px;
}
.user img{
    width:40px;
    height:40px;
    border-radius:50%;
}
.detUser p{
  margin-top:-1.5rem;
}

/**right*/
.headRightMessage{
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.rightHeadRM{
    display:flex;
    align-items: center;
    gap:1.5rem;
}
.rightHeadRM i{
    background-color:var(--light-blue);
    color:var(--blue);
    padding:15px;
    border-radius:50%;

}
.rightHeadRM i:hover{
    background-color:var(--blue);
    color:var(--white);
    cursor:pointer;
}
.chat img{
    width:40px;
    height:40px;
    border-radius:50%;
}
.chat .response{
    background-color:var(--white);
    padding:1rem;
    border-radius: 5px;
    border:none;

}
.chat .reply{
    background-color:var(--blue);
    color:var(--white);
    padding:1rem;
    border:none;
}
.chat span{
    align-items:left;
}
.chat p{
    max-width:720px;
}
.texting input{
    width:500px;
    padding:1rem;
    margin-top:1rem;
    border:none;
    width:650px;

}
.texting{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:750px;
}
.texting i{
    margin-left:.5rem;
    color:var(--dark-blue);
}
.rightMessage{
    background-color:var(--white);
    height:80vh;
    width:300vw;
    align-items: center;
    justify-content: space-around;

}
.headRightMessage{
   display:flex;
   align-items: center;
   justify-content: space-between;
   padding:20px 100px;
}
.headRightMessage .rightHeadRM{
    margin-left:30rem;
}
.bottomRightMessage{
    padding-left:5rem;
}
.leftMessage{
    padding-right:5rem;
    margin-right:1rem;
    background-color:var(--white);
    height:80vh;
    align-items: center;
}
.detUser p{
    color:#000;
}
.bottomSection{
    padding:1rem;
}

