@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --dark-blue:#2268a5;
  --light-blue:#e5f8ff;
  --blue:#3674B5;
  --red:rgb(220, 0, 0);
  --light-red:rgb(255, 235, 235);
  --gray:rgb(232, 232, 232);
  --white:#fff;
  --black:#000;
  --background:rgb(247, 252, 255);
  --dark-gray:rgb(165, 165, 165);
}
*{
  font-family: "Poppins", serif;
}
ul li{
  text-decoration: none;
  list-style:none;
}
a{
  text-decoration:none;
  cursor:pointer;
}
.conatiner{
  padding:20px 60px;
}
.main-btn{
  border:none;
  background-color:transparent;
  color:var(--blue);
  font-size:1rem;
  font-weight: 600;
  padding:2rem;
}
.blue-btn{
  color:var(--blue);
  background-color: var(--light-blue);
  padding:.5rem;
  font-weight: 600;
  cursor:pointer;
  border:none;
  border-radius:5px;
}
.gray-btn{
  color:var(--gray);
  background-color: transparent;
  border:none;
  font-size:1rem;
  font-weight: 600;
  padding:.4rem;
}
.blue-btn:hover{
  background-color:var(--blue);
  color:#fff;
}
.userIcon img{
  width:40px;
  height:40px;

}
.btn-red{
  color:var(--red);
  background-color:var(--light-red);
  padding:.5rem;
  font-weight: 600;
  cursor:pointer;
  border:none;
  border-radius:5px;
}
.btn-red:hover{
  background-color:var(--red);
  color:var(--white);
}
.btn-green{
  color:var(--blue);
  background-color:var(--light-blue);
  padding:1rem;
  font-weight: 600;
  cursor:pointer;
  border:none;
  border-radius:5px;
}
.btn-green:hover{
  background-color:var(--blue);
  color:var(--white);
}
